@{
    ViewData["Title"] = "Pagina web de David Estrella";
}

<div class="text-center">
    <h1 class="display-4">Web En Servidor! hecha por David Estrella</h1>
    <p>Esta web está en nuestra máquina virtual alojada en Azure con el fin del deber de computación en la nube!!</p>
</div>
